snippet vtm "Vue Tsx Module" b
import { defineComponent } from 'vue'
import style from './index.module.${1}'
export default defineComponent ({
	setup() {
		return () => {
			<div class="style['block__container']>
			</div>
		};
	},
})
endsnippet
